/* ? RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/* ! Creato clearfix */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/* Ridimensionato e centrato tutta la pagina */
body {
    width: 80%;
    margin: 20px auto;
}

/* Classe per distanziare i vari container */
.margin-bottom {
    margin-bottom: 50px;
}

/* Logo header */
.logo-header {
    height: 80px;
    padding-right: 20px;
    border-right: 1px solid #cecece;
    margin-bottom: 40px;
}

/* Navbar */
.navbar li {
    display: inline;
    list-style: none;
    padding: 0 10px;
    font-size: 18px;
    text-transform: uppercase;
    color: #7e7e7e;
}


/* Primo container (jumbotron) */
.jumbotron {
    margin-bottom: 150px;
}

/* Classe per position relative */
.relative {
    position: relative;
}

/* Classe per position absolute */
.absolute {
    position: absolute;
}

/* Size jumbotron */
.size-jumbo {
    width: 100%;
    height: 700px;
    border-radius: 20px;
}

/* Per fixare immagine cosi da riempire tutto */
.jumbotron img{
    object-fit: cover;
}

/* Creare shade */
.shade-banner {
    background-color: #7e7e7e;
    opacity: 0.3;
    z-index: 2;
    top: 0;
}

/* Tesro over jumbotron */
.text-over-jumbo {
    left: 70px;
    bottom: 70px;
    z-index: 3;

    width: 45%;
    color: #f6f6f6;
}

.title-jumbo {
    font-size: 2.5em;
}

.desc-jumbo {
    font-size: 1.1em;
}



/* Secondo container dove ho creato altre 3 div per dividere lo spazio al suo interno */
.second-container {
    
}

/* Header dentro la seconda section */
.top-section {
    height: 100px;
    margin-bottom: 20px;
}

.title-leadership {
    font-size: 3em;
    font-weight: 500;
}

.subtitle-leadership {
    font-size: 1.2em;
    color: #7e7e7e;
}

/* Shader per immagini aside */
.shade-aside {
    height: 300px;
    width: 100%;
    border-radius: 20px;
    background-color: #7e7e7e;
    opacity: 0.3;
    z-index: 2;
    top: 0;
}

.aside img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.text-aside {
    margin-top: 20px;
    font-size: 1.1em;
}

.desc-aside {
    top: 15px;
    color: #7e7e7e;
}

/* Singola classe per le 2 a-side */
.aside {
    width: 25%;
    float: left;
}

/* Specifico per aside a sx */
.aside-left {
    margin-right: 30px;
}

/* Contenuto centrale, con il calc per non distruggere tutto :) */
.center-content {
    width: calc(50% - 60px);
    height: 700px;
    float: left;
    margin-right: 30px;
}

.center-content img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}



/* Footer */
.footer-text {
    text-align: center;
    font-size: 1.1em;
}

/* Cuore rosso */
.footer-text span {
    color: red;
}